{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block titreH1 %}
    {{ block('title') }}
{% endblock %}

{% block body %}
    {#    table show users #}
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Pseudo</th>
            <th>E-mail</th>
            <th>Roles</th>
            <th>Password</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.pseudo }}</td>
                <td>{{ user.player ? user.player.email : '' }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>*****</td>
                <td>
                    <a href="{{ path('app_admin_user_show', {'id': user.id}) }}" class='btn btn-success'>Voir</a>
                    <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}" class='btn btn-primary'>Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun résultat trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {#    button #}
    <a href="{{ path('app_admin_user_new') }}" class='btn btn-info'>Create new</a>
{% endblock %}
