{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block titreH1 %} Register {% endblock %}

{% block body %}
	{{ form_start(registrationForm) }}
	{{ form_row(registrationForm.pseudo) }}
	{{ form_row(registrationForm.email) }}
	{{ form_row(registrationForm.plainPassword, {
            label: 'Password',
            help:'6 caractères minimum'
        }) }}
	{{ form_row(registrationForm.agreeTerms) }}

	<button type="submit" class="btn btn-success">Register</button>
	{{ form_end(registrationForm) }}
{% endblock %}

