{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!
{% endblock %}

{% block body %}

	<ul class="list-group">
		<li class="list-group-item">Id :{{ app.user.id }}</li>
		<li class="list-group-item">Pseudo:
			{{ app.user.pseudo }}</li>
		<li class="list-group-item">Password :
			{{ app.user.password }}</li>
		<li class="list-group-item">Password :
			{{ app.user.password }}</li>
		<li class="list-group-item">Roles :
			{% for role in app.user.roles %}
				{% if role == 'ROLE_ADMIN' %}
					Administrateur
				{% elseif role == 'ROLE_PLAYER' %}
					Joueur
				{% elseif role == 'ROLE_REFEREE' %}
					Arbitre
				{% else %}
					Utilisateur
				{% endif %}
				{{ not loop.last ? ',' : '' }}
			{% endfor %}
		</li>
	</ul>

{% endblock %}

{% block footer %}{% endblock %}
