<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{% if is_granted('ROLE_ADMIN') %}
				{{ encore_entry_link_tags('admin') }}
			{% else %}
				{{ encore_entry_link_tags('app') }}
			{% endif %}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
		{% endblock %}
	</head>
	<body>
		<main class='container'>

			{{ include('menu.html.twig') }}

			{% for type, messages in app.flashes %}
				{% for msg in messages %}
					<div class='alert alert-{{type}}'>{{ msg|raw }}</div>
				{% endfor %}
			{% endfor %}

			<h1 class="my-3">{% block titreH1 %} Tous les jeux {% endblock %}</h1>

			{% block body %}{% endblock %}

		</main>
		<footer class='text-center' style='height:200px;background:#ccc;line-height:200px'>
			{% block piedpage %}
				<p>
					<b>Je suis le footer</b>
				</p>
			{% endblock %}
		</footer>

	</body>
</html>
